.new-post{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.all-posts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
}

.post{
    border: 0.1px solid gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 5px 20px;
}


.content{
    font-size: 15px;
}

.username{
    font-size: 22px;
}

.date{
    color: gray;
    font-size: 15px;
}

.likes{
    font-size: 22px;
}